
*.controller
*.anim
*.overrideController
*.mask
*.FBX
*.otf
*.ttf
*.psd
*.png
*.mat
*.prefab
*.tif
*.asset
*.pdf
*.chm
*.jslib
*.README
*.xml
*.json
*.txt
*.jpg
*.guiskin
*.bmp
*.wav
*.mp3
*.ogg
*.tga
